<div class="background">
    <div class="container">
        <div class="header flex justify-between">
            <div class="brand">
                <h1>Researchaide</h1>
            </div>
            <div class="navbar flex">
                <ul class="level-1-ul flex">
                    <li><a routerLink="verify-papers">Verify Papers</a></li>
                    <li class="drop-down">
                        Manage Students >
                        <ul class="level-2-ul">
                            <li><a routerLink="register-student">Register Student</a></li>
                            <li><a routerLink="manage-student">Manage Student</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#logout"><img src="../../assets/icons/logout-blue.svg" alt="logout"></a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
