<div class="container flex items-center justify-center">
    <div class="login-area">
        <div class="error flex" *ngIf="error !== null">
            <div class="icon"><img></div>
            <div class="message">{{error}}</div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="close">
                <a routerLink="/home"><img src="../../assets/icons/reject-blue.svg" alt="close-icon"></a>
            </div>
            <div class="avatar">
                <img src="../../assets/icons/user-blue.svg" alt="user-icon">
            </div>
            <div class="email-section flex items-center justify-center">
                <img src="../../assets/icons/email-blue.svg" alt="email-icon">
                <input type="text" placeholder="Enter email" formControlName='email'>
            </div>
            <div class="password-section flex items-center justify-center">
                <img src="../../assets/icons/key-blue.svg" alt="key-icon">
                <input type="password" placeholder="Enter password" formControlName='password'>
            </div>
            <div class="login-btn">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>