
.login-area{
    background-color: var(--heaven);
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.close a img{
    height: 1.2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.close{
    text-align: right;
}

.avatar img{
    height: 5rem;
    margin: 1.5rem 0;
}

.email-section, .password-section{
    width: 90%;
    margin: 1.2rem 1rem;
}

.email-section input, .password-section input{
    width: 60%;
    margin-left: 1rem;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--primary-color);
}

.email-section img, .password-section img{
    height: 2rem;
    margin-right: 1rem;
}

.login-btn button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 15rem;
    height: 2.5rem;
}

.spinner{
    height: 2.5rem;
    margin-bottom: 2rem;
}