<div class="container flex items-center justify-center">
    <div class="login-area">
        <div class="avatar">
            <img src="../designing/icons/user-blue.svg" alt="">
        </div>
        <div class="email-section flex items-center justify-center">
            <img src="../designing/icons/email-blue.svg" alt="">
            <input type="text" placeholder="Enter email">
        </div>
        <div class="password-section flex items-center justify-center">
            <img src="../designing/icons/key-blue.svg" alt="">
            <input type="password" placeholder="Enter password">
        </div>
        <div class="login-btn">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>