<div class="background">
    <div class="container">
        <div class="update-section flex items-center justify-center">
            <div class="email">
                <input type="email" placeholder="Email">
            </div>
            <div class="name">
                <input type="text" placeholder="Name">
            </div>
            <div class="contact">
                <input type="text" placeholder="Contact">
            </div>
            <div class="actions flex items-center justify-center">
                <button class="btn btn-primary" [disabled]>Update</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="table-section">
            <table>
                <tr>
                    <th>Registration Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
                <tr>
                    <td>600ad66596f64e22547dbb42</td>
                    <td>shoaib12@gmail.com</td>
                    <td>Shoaib Salim Shaikh</td>
                    <td>1234567890</td>
                    <td><a href="#">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>