<div class="background background-absolute" style="top: 6rem;">
    <div class="container">
        <div class="error flex" *ngIf="error !== null">
            <div class="icon"><img></div>
            <div class="message">{{error}}</div>
        </div>
        <div class="success flex" *ngIf="showSuccess">
            <div class="icon"><img></div>
            <div class="message">Updated successfully!</div>
        </div>
        <div class="spinner" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <form [formGroup] = "form" (ngSubmit) = "onUpdate()" *ngIf = "!isLoading">
            <div class="update-section flex items-center justify-center">
                <div class="name">
                    <input type="text" placeholder="College Name" maxlength="80" required formControlName="name">
                </div>
                <div class="regNo">
                    <input type="text" placeholder="Registration Number" maxlength="50" required formControlName="regNo">
                </div>
                <div class="actions flex items-center justify-center">
                    <button
                        type="submit"
                        class="btn"
                        [disabled]="!form.valid"
                        [ngClass]="!form.valid ? 'btn-disable' : 'btn-success'"
                    >Update</button>
                    <button
                        type="button"
                        (click) = "onDelete()"
                        class="btn"
                        [disabled]="!form.valid"
                        [ngClass]="!form.valid ? 'btn-disable' : 'btn-danger'"
                    >Delete</button>
                    <button
                        type="button"
                        (click) = "onClear()"
                        class="btn btn-primary"
                    >Clear</button>
                </div>
            </div>
        </form>
        <div class="table-section">
            <div class="no-colleges" *ngIf="colleges.length < 1 && !isLoading">
                <h2>No records found!</h2>
            </div>
            <table *ngIf = "colleges.length > 0 && !isLoading">
                <tr>
                    <th>College Id</th>
                    <th>College Name</th>
                    <th>Registration Number</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let college of colleges; let i = index">
                    <td>{{college.cid}}</td>
                    <td>{{college.name}}</td>
                    <td>{{college.regNo}}</td>
                    <td><a (click)="onCollegeSelected(i)">Select</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>