.update-section{
    margin: auto;
    padding: 1rem;
    /* background-color: aqua; */
}

.update-section div{
    width: 70%;
    /* background-color: salmon; */
}

.update-section div input{
    margin: 1rem;
    height: 2rem;
    width: 80%;
    padding: 0 0.5rem;
    outline: none;
    border: 2px solid var(--secondary-color);
}

.actions button{
    margin: 0 1rem;
}
.table-section{
    margin: auto;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.table-section table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: var(--secondary-color);
    color: var(--heaven);
    font-weight: lighter;
}
td{
    background-color: var(--heaven);
    color: var(--secondary-color);
}
td, th {
    border: 1px solid rgb(41, 38, 38);
    text-align: left;
    padding: 8px;
}
td a{
    color: var(--primary-color);
    text-decoration: none;
}

input.ng-invalid{
    border: 1px solid red;
}

.no-admins{
    width: 70%;
    margin:auto;
    margin-top: 1rem;
    text-align: center;
}

.no-admins h2{
    font-size: 3rem;
    color: var(--secondary-color);
}
