<div class="background background-absolute" style="top: 7rem;">
    <div class="container">
        <div class="error flex" *ngIf="error !== null">
            <div class="icon"><img></div>
            <div class="message">{{error}}</div>
        </div>
        <div class="success flex" *ngIf="showSuccess">
            <div class="icon"><img></div>
            <div class="message">Updated successfully!</div>
        </div>
        <form [formGroup] = "form" (ngSubmit) = "onUpdate()">
            <div class="update-section flex items-center justify-center">
                <div class="email">
                    <input type="email" placeholder="Email" maxlength="50" required formControlName="email">
                </div>
                <div class="name">
                    <input type="text" placeholder="Name" maxlength="80" required formControlName="name">
                </div>
                <div class="contact">
                    <input type="text" placeholder="Contact" maxlength="10" required formControlName="contact">
                </div>
                <div class="actions flex items-center justify-center">
                    <button
                        type="submit"
                        class="btn"
                        [disabled]="!form.valid"
                        [ngClass]="!form.valid ? 'btn-disable' : 'btn-success'"
                    >Update</button>
                    <button
                        (click) = "onDelete()"
                        class="btn"
                        [disabled]="!form.valid"
                        [ngClass]="!form.valid ? 'btn-disable' : 'btn-danger'"
                    >Delete</button>
                    <button
                    (click) = "onClear()"
                        class="btn btn-primary"
                    >Clear</button>
                </div>
            </div>
        </form>
        <div class="table-section">
            <div class="no-admins" *ngIf="admins.length < 1">
                <h2>No records found!</h2>
            </div>
            <table *ngIf = "admins.length > 0">
                <tr>
                    <th>Registration Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let admin of admins; let i = index">
                    <td>{{admin.adminId}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.contact}}</td>
                    <td><a (click)="onAdminSelected(i)">Select</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>