/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3f72af;
    --secondary-color: #112d4e;
    --light: #dbe2ef;
    --heaven: #f9f7f7;
    --danger: rgb(173, 10, 10);
    --danger-light: rgba(218, 40, 40, 0.459);
    --deep-danger: rgb(95, 1, 1);
    --success: rgba(0, 151, 0, 0.788);
    --success-dark: rgba(0, 92, 0, 0.788);
}

@font-face{
    font-family: "open-sans-regular";
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body{
    height: 100vh;
    background: url('./assets/images/blue2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "open-sans-regular";
    --font-smoothing: antialiased;
}

.background{
    min-height: 100%;
    width: 100%;
    background-color: var(--light);
}

.background-absolute{
    position: absolute;
    top: 4rem;
    left: 0;
}

.container{
    width: 1280px;
    height: 100%;
    margin: auto;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.btn{
    width: 8rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--heaven);
}
.btn-primary:hover{
    background-color: var(--secondary-color);
    color: var(--heaven);
}
.btn-disable{
    background-color:rgb(110, 105, 105);
    color: rgb(255, 255, 255);
}
.btn-disable:hover{
    cursor: not-allowed;
}
.btn-danger{
    background-color: var(--danger);
    color: var(--heaven);
}
.btn-danger:hover{
    background-color: var(--deep-danger);
    color: var(--heaven);
}
.btn-success{
    background-color: var(--success);
    color: var(--heaven);
}
.btn-success:hover{
    background-color: var(--success-dark);
    color: var(--heaven);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    z-index: 1;
}

.success{
    padding: 1rem;
    background-color: var(--success);
    border-radius: 10px;
    margin: 0.5rem;
}
.success .icon img{
    height: 1rem;
}
.success .icon img{
    content: url("./assets/icons/tick-white.svg");
}
.success .message{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--light);
}

.error{
    padding: 1rem;
    background-color: var(--danger-light);
    border-radius: 10px;
    margin: 0.5rem;
}
.error .icon img{
    height: 1rem;
}
.error .icon img{
    content: url("./assets/icons/error-red-cross.svg");
}
.error .message{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--light);
}

.spinner mat-spinner{
    margin: auto;
}
