.brand{
    text-align: center;
    margin-top: 1rem;
}

.brand a{
    color: var(--secondary-color);
}

.search{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 50%;
}

.search input{
    width: 100%;
    height: 2rem;
    font-family: "open-sans-regular";
    padding: 0.2rem;
    border: none;
    outline: none;
    border-radius: 3px;
}

.search a img{
    height: 1.7rem;
    margin-left: 0.5rem;
}

.area-of-research{
    width: 25%;
}

.area-of-research select{
    height: 2rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
}

.area-of-research select option{
    font-size: 1rem;
    background-color: var(--heaven);
}

.papers-section{
    margin-top: 3rem;
    width: 100%;
}

.no-papers{
    width: 70%;
    margin:auto;
    margin-top: 1rem;
    text-align: center;
}

.no-papers h2{
    font-size: 3rem;
    color: var(--secondary-color);
}

.no-papers h3{
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
}

.paper-card{
    width: 70%;
    background-color: var(--heaven);
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}
.authors{
    font-size: 1rem;
}

.publication{
    font-size: 0.8rem;
}

.extras{
    margin-top: 0.5rem;
}

.status-rejected{
    color: rgb(165, 21, 21);
}

.status-waiting{
    color: rgb(199, 199, 30);
}

.status-accepted{
    color: green;
}

.actions img{
    height: 1.3rem;
    margin: 0 0.5rem;
}