.section input, .section select{
    height: 1.8rem;
    width: 100%;
    border: 2px solid var(--secondary-color);
    outline: none;
    font-size: 1rem;
}

.section{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.register-college{
    padding: 1rem;
    text-align: left;
    width: 40%;
    margin: auto;
}

.action{
    text-align: center;
}