<div class="background">
    <div class="container">
        <div class="register-user">
            <form>
                <div class="email section">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" required>
                </div>
                <div class="password section">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" required>
                </div>
                <div class="confirm-password section">
                    <label for="confirm-password">Confirm Password</label><br>
                    <input type="password" id="confirm-password" required>
                </div>
                <div class="secret-key section">
                    <label for="secret-key">Secret Key</label><br>
                    <input type="password" id="secret-key" required>
                </div>
                
                <div class="action section">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>